@model FinalTask.Models.ChangePasswordModel

@{
    ViewBag.Title = "Изменение пароля";
}

<h2>Изменение пароля</h2>
<div class="container">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(UserName => Model.UserName)
        <div class="input-box">
            <div class="label-div">Текущий пароль<b>*</b></div>
            <div class="input-div">@Html.PasswordFor(x => Model.OldPass, new { @class = "input-lg" })</div>
            <div class="valid-div">@Html.ValidationMessageFor(x => Model.OldPass)</div>
        </div>
        <div class="input-box">
            <div class="label-div">Новый пароль<b>*</b></div>
            <div class="input-div">@Html.PasswordFor(x => Model.NewPass, new { @class = "input-lg" })</div>
            <div class="valid-div">@Html.ValidationMessageFor(x => Model.NewPass)</div>
        </div>
        <div class="input-box">
            <div class="label-div">Повторите новый пароль<b>*</b></div>
            <div class="input-div">@Html.PasswordFor(x => Model.NewRepeat, new { @class = "input-lg" })</div>
            <div class="valid-div">@Html.ValidationMessageFor(x => Model.NewRepeat)</div>
        </div>
        <div class="input-box">
            <input class="btn-lg btn-primary" type="submit" value="Изменить">
            @Html.ActionLink("Отмена", "ProfilePage", "Account", new { Name = Model.UserName}, null) 
        </div>
    }
</div>

