@model FinalTask.Models.LoggedUserModel
@{
    ViewBag.Title = "Вход на сайт";
}

<div>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div class="input-box">
            <div class="label-div">Логин<b>*</b></div>
            <div class="input-div">@Html.TextBoxFor(x => Model.Name, new { @class = "input-lg" })</div>
            <div class="valid-div">@Html.ValidationMessageFor(x => Model.Name)</div>
        </div>
        <div class="input-box">
            <div class="label-div">Пароль<b>*</b></div>
            <div class="input-div">@Html.PasswordFor(x => Model.Password, new { @class = "input-lg" })</div>
            <div class="valid-div">@Html.ValidationMessageFor(x => Model.Password)</div>
        </div>
        <div class="input-box">
            <input class="btn-lg btn-primary" type="submit" value="Войти"> 
            @Html.ActionLink("Зарегистрироваться", "Registration", "Home")
        </div>
    }
</div>

